        body{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            background-color: #eeeeee;
            overflow-x: hidden;
        }
        .padre{
            width: 100vw;
            height: 100vh;
            position: relative;
            margin-bottom: 80px;
            background-image: url(astess/3742.jpg);
            background-size: 100% 100%;
        }
        .padre::before{
            content: "";
            background-color: rgba(39, 111, 129, 0.644);
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            position: absolute;
        }
        .padreenlace{
            width: 100%;
            height: 80px;
            position: relative;
            top: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: rgba(5, 60, 73, 0);
            gap: 70px;
        }
        .parrafopadre{
            display: flex;
            flex-direction: column;
            gap: 0;
            align-items: center;
            position: relative;
            z-index: 1;
            
        }
        .parrafopadre h1{
            font-size: 3em;
            color: #ffffff;
            font-weight: bold;
            position: relative;
            font-family:'Times New Roman', Times, serif;
            margin: 0;
            animation: cambiar linear;
            animation-timeline: view();
            animation-range: entry 0% cover 95%;
        }
        .parrafopadre p{
            font-size: 1em;
            margin: 0;
            font-weight: 300;
            color: #ffffff;
            position: relative;
            animation: cambiar linear;
            animation-timeline: view();
            animation-range: entry 0% cover 95%;
        }

        .contenedor{
            width: 70%;
            height: 100%;
            display: flex;
            gap: 3px;
            align-items: center;
            position: relative;
            overflow: hidden; 
        }
        
        .contenedor a{
            text-decoration: none;
            color: #ffffff;
            position: relative;
            padding: 10px 5px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            text-transform:capitalize;
            animation: cambiar linear;
            animation-timeline: view();
            animation-range: entry 0% cover 95%;
            
        }
        
        
        .contenedor a::before{
            content: "";
            position: absolute;
            bottom: 0;
            left: 50%;
            width: 0;
            height: 3px;
            background-color: #ffffff;
            transition: all .3s linear;
        }
        
        .contenedor a:hover::before{
            width: 100%;
            left: 0;
        }
        
        @media (max-width:500px){
            
            .padreenlace{
                position: static;
                height: 15%;
            }
            .contenedor{
                position: absolute;
                height: 85vh;
                width: 0vw;
                bottom: 0;
                right: 0;
                display: flex;
                flex-direction: column;
                gap: 10px;
                align-items: center;
                justify-content: center;
                background-color: rgb(7, 124, 160);
                z-index: 1;
                border-top-left-radius: 100px;
                border-bottom-left-radius: 100px;
                
                
            }
            .contenedor a{
                left: 0%;
            }
            .parrafopadre{
                position: absolute;
                left: 10px;
            }
            .parrafopadre p{
                font-size: 1em;
            }
        }
        .padremenu{
            width: 40px;
            height: 40px;
            display: none;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 10px;
            position:absolute;   
            right: 20px;
            cursor: pointer;
        }
        .padremenu div{
            width: 100%;
            height: 3px;
            background-color: #fff;
            transition: all .3s linear;
            transform-origin: left;
        }
       


        /* ya esta listo */

        @media (max-width:500px){
            .padremenu{
                display: flex;
                position: absolute;
            }
            .menu1 div:nth-child(1){
                transform: rotate(45deg);
            }
            .menu1 div:nth-child(2){
                opacity: 0;
            }
            .menu1 div:nth-child(3){
                transform: rotate(-45deg);
            }
            .ancho{
                width: 50%;
            }
            .primerarticulo{
                width: 87%;
                height: 250px;
                gap: 0px;
                flex-wrap: nowrap;
            }
            .caracteristicas h1{
                font-size: 1em;
                text-transform: capitalize;

            }
            .caracteristicas p{
                font-size: .5em;
                text-transform: capitalize;

            }
            .caracteristicas ul li{
                font-size: .4em;
            }
            .articulodesillas{
                position: relative;
            }
            .imagendesilla img{
                width: 70%;
                height: 70%;
                border-radius: 10px;
            }
            

        }
        #holamundo2{
            width: 500px;
            height: 400px;
            position: absolute;
            z-index: 1;
            right: 40px;
            top: 10%;
        }

        /* colocando las imagenes */
        .informacion{
            width: 50%;
            display: flex;
            flex-direction: column;
            gap: 0;
            align-items: center;
            justify-content: center;
            position: absolute;
            left: 2%;
            top: 20%;
        }
        .exito{
            position: relative;
            display: flex;
            flex-direction: column;
            gap: 0;
        }
        .exito h1{
            color: #ffffff;
            font-size: 4em;
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            letter-spacing: 2px;            
            text-align: center;
            margin: 4px;
        }
        .exito p{
            color: #ffffff;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            margin: 4px;
            font-size: 3em;
            text-align: center;
        }
        .vision{
            width: 80%;
            position: relative;
        }
        .vision p{
            text-align: center;
            color: #ffffff;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            text-transform: capitalize;
        }
        .link{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 80%;
            gap: 10px;
            height: 50px;
        }
        .link img{
            width: 25px;
        }
        .img_fondo{
            width: 20%;
            position: absolute;
            bottom: 3%;
            right: 10%;
        }
        .relleno{
            width: 40%;
            height: 200px;
            position: absolute;
            bottom: 0;
            right: 0;
            border-bottom-left-radius: 100px;
            border-top-left-radius: 400px;
            background-color: #386ea09c;
        }
        @media (max-width:500px){
            .img_fondo{
                width: 40%;
                bottom: 1%;
                right: none;
                left: 1%;
            }
            .relleno{
                width: 60%;
                height: 150px;
                right: none;
                left: 1%;
                border-bottom-left-radius: 0;
                border-top-left-radius: 0;
                border-bottom-right-radius: 100px;
                border-top-right-radius: 400px;
            }
            .exito h1{
                font-size: 3em;
            }
            .exito p{
                font-size: 2em;
            }
            .informacion{
                width: 96%;
            }
        }
        .articulo5{
            width: 100vw;
            height: 100vh;
            position: relative;
            display: flex;
            gap: 0;
            justify-content: center;
            align-items: center;
            margin-bottom: 50px;
        }
        .hijo2{
            width: 50%;
            height: 100%;
            position: relative;
            display: flex;
            flex-direction: column;
            gap: 0px;
            align-items: center;
            justify-content: center;
        }
        .hijo2 h1{
            animation: mover linear;
            animation-timeline: view();
            animation-range: entry 0% cover 40%;
            font-size: 3.5em;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            color: #009efa;
            text-align: center;
            text-transform: capitalize;
        }
        .hijo2 ul{
            position: relative;
        }
        .hijo2 li{
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            text-transform: capitalize;
            color: #009efa;
        }
        .hijo2 p{
            font-size: 2em;
            color: #009efa;
            animation: mover linear;
            animation-timeline: view();
            animation-range: entry 0% cover 40%;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            text-transform: capitalize;
        }
        .hijo2 button{
            width: 200px;
            height: 50px;
            transform: skew(-15deg);
            border-radius: 50px;
            border-color:#009efa;
            background-color: #eeeeee;
            color: #009efa;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-size: 1.6em;
            text-transform: capitalize;
            margin-top: 40px;
            cursor: pointer;
        }
        .hijo2 button:hover{
            background-color: #009efa;
            color: #fff;
            transition: all .1s linear;
        }
        .hijo3{
            width: 50%;
            height: 100%;
            position: relative;
            display: flex;
            flex-direction: column;
            gap: 0;
            align-items: center;
            justify-content: end;
        }
        .hijo3 img{
            width: 250px;
            height: 300px;
            position: absolute;
            bottom: 100px;
            z-index: 1;
            animation: mover linear;
            animation-timeline: view();
            animation-range: entry 0% cover 40%;
            transition: all .3s linear;
            
        }
        .hijo3 .img{
            width: 250px;
            height: 300px;
            position: absolute;
            bottom: 100px;
            z-index: 1;
            animation: mover linear;
            animation-timeline: view();
            animation-range: entry 0% cover 40%;
            transition: all .3s linear;
            
        }
        @keyframes mover{
            from{
                opacity: .3;
                scale: .4;
            }
            to{
                opacity: 1;
                scale: 1;
            }
        }
        .hijo3 .masa{
            width: 100%;
            height: 250px;
            border-top-left-radius: 400px;
            border-bottom-left-radius: 100px;
            background-image: url(astess/workplace-5517744_1280.jpg);
            background-size: 100% 100%;
            background-repeat: no-repeat;
            position: relative;
            
        }
        .masa::after{
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            background: linear-gradient(90deg , #56b8f1 0% ,70% , transparent 100%);
            background-size: 100%;
            top: 0;
            left: 0;
            border-top-left-radius: 400px;
            border-bottom-left-radius: 100px;
            
        }

        @media (max-width:500px){
            .hijo2 h1{
                font-size: 3em;
                position: relative;
                left: 35%;
            }
            .hijo2 p{
                font-size: 2em;
                left: 20px;
                position: relative;
            }
            .hijo3 img{
                width: 150px;
                bottom: 100px;
                height: 240px;
            }
            .hijo3 .img{
                width: 180px;
                bottom: 100px;
                height: 190px;
            }
            .hijo2 button{
                width: 140px;
            }
            .hijo3 .masa{
                height: 150px;
                bottom: 60px;
                
            } 
        }
        .titulo{
            text-align: center;
            font-size: 3em;
            font-weight: 900;
            color: #009efa;
            position: relative;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            text-transform: capitalize;
       
        }
       
        .footer{
            display: flex;
            align-items: end;
            justify-content: center;
            width: 100%;
            gap: 30px;
            position: relative;
        }
        footer{
            width: 100%;
            position: relative;
            background-color: #036197;
            display: flex;
            align-items: end;
            
        }
        /* haciendo la dinastia de imagenes con sus caractiristicas */

  
      

        .footer h2{
            font-size: 1.1em;
            font-weight: 400;
            color: #fff;
            text-transform: capitalize;

        }
        .enlace3{
            display: flex;
            gap: 10px;
            align-items: center;
            justify-content: center;
            width: 100%;
            position: relative;
        }
        .enlace3 img{
            width: 30px;
        }
        .enlace3 h3{
            font-style: italic;
            color: rgb(79, 79, 230);
        }
        /* haciendo el carrusel de imagenes */
        .padreimg{
            width: 100vw;
            height: 70vh;
      
            display: flex;
            overflow: hidden;
            align-items: center;
            gap: 100px;
        }
        .padreimg img{
            width: 300px;
            height: 80%;
            border-radius: 10px;
            animation: mover1 8s linear infinite alternate;
            position: relative;
            transition: all .3s linear;
            mix-blend-mode: multiply;
        }
        @keyframes mover1{
            from{
                left:  0px;
            }
            to{
                left: -200px;
            }
        }
        .padrebotom{
            display: flex;
            position: relative;
            width: 400px;
            height: 150px;
            gap: 50px;
            margin-top: 30px;
            justify-content: center;
        }
        .padrebotom button{
            width: 90px;
            height: 40px;
            position: relative;
            bottom: 0;
            background-color: #fff;
            border-radius: 5px;
            transform: skew(-10deg);
            overflow: hidden;
            z-index: 1;
            font-size: 1.2em;
            color: #5c5c5c;
            font-weight: 400;
            border-color: transparent;
            box-shadow:  0 0 10px black;
            transition: all .3s linear;
        }
        .padreimg img:hover{
            transform: scale(1.2);
        }
        .padrebotom button::before{
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 50%;
            height: 70px;
            background-color: rgb(10, 133, 214);
            transition: all .3s linear;
            border-radius: 5px;
            transform: skew(-10deg);
            z-index: -1;
            animation: trans 5s linear infinite;
        }
        @keyframes trans{
            from{
                left: -120px;
            }
            to{
                left: 100%;
            }
        }
        .padrebotom button:hover::before{
            left: 0%;
            width: 100%;
            animation: none;
            transform: skew(0deg);
        }
        .padrebotom button:hover{
            color: #fff;
        }
        .padrebotom button:active{
            transform: scale(.8);
        }
        .carruselimg{
            display: flex;
            flex-direction: column;
            gap: 10px;
            position: relative;
            align-items: center;
            height: 90vh;
            
        }
        /* haciendo responsis */
        @media (max-width:430px){
            .padreimg img{
                animation-duration: 10s;
            }
            @keyframes mover1{
                from{
                    left:  0px;
                }
                to{
                    left: -1050px;
                }
            }
            .footer{
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 2px;
            }
            .padreimg img{
                width: 190px;
                height: 70%;
            }
            .recomendaciones p{
                font-size: 15px;
                text-align: center;
            }
            section{
                position: relative;
                
            }
            .sillas {
                gap: 80px; 
            }
            
            .padre .imagen{
                width: 60%;
                height: 100%;
                position: absolute;
                bottom: 0;
                right: 0;
                float: right;
            }
            
            .texto{
                width: 100%;
                left: -5vw;
                position: relative;
            }
            .texto p{
                text-align: center;
            }
            .recomendaciones{
                margin-bottom: 100px;
                align-items: center;
            }
            footer{
                position: relative;

            }
            .footer h2{
                font-size: 13px;
            }
            .padrebotom{
                gap: 40px;
                justify-content: center;
            }
            .padrebotom button{
                width: 120px;
                height: 50px;
            }
         
        }
        @media (min-width:1100px){
            .padre .imagen{
                height: 700px;
            }
            .padreenlace{
                gap: 400px;
            }
            .texto{
                top: -10px;
            }
            .recomendaciones p{
                font-size: 15px;
                text-align: center;
            }
            section{
                position: relative;
            
            }
            footer{
                position: relative;
                
            }
            .contenedor{
                justify-content: center;
            }
            .parrafopadre{
                position: absolute;
                left: 20px;
            }
        
        }
      