body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    background-color: rgb(240, 240, 240);
}

/* estilos de al ventana */



/* estilos del header */

header{
    width: 100vw;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}
.articulo1{
    width: 100%;
    height: 50%;
    background-color: rgb(19, 23, 73);
    display: flex;
    align-items: center;
    justify-content: center;
}
.articulo1 h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2em;
    color: aliceblue;
    text-align: center;
}
.articulo2{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
}
.articulo2 p{
    color: rgb(122, 122, 122);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-bottom: 4px;
}
.articulo_img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    width: 100px;
    height: 100px;
}
.articulo_img img{
    width: 100%;
    height: 100%;
    border-radius: 30px;
    border: 3px solid rgb(189, 189, 189);
}

/* estilos de la seccion 1*/

.seccion_1{
    width: 100vw;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px 15px;
    box-sizing: border-box;
}
.container_1{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    gap: 30px;
    overflow-x: scroll;
    padding: 0px 10px;
    box-sizing: border-box;
}
.container_1::-webkit-scrollbar{
    display: none;
}
.container_1 a{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(160, 160, 160);
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
    
}
.container_1 .active{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    cursor: pointer;
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-transform: uppercase;
    background-color: blue;
    padding: 15px 10px;
    border-radius: 15px;
}

/* estilos del container 2*/

.container_2{
    width: 100vw;
    padding: 5px 10px;
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}
.hijo1{
    width: 100%;
    display:flex;
    gap: 20px;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    grid-gap: 20px;
}
.nietos{
    width: 150px;
    padding: 10px 0px;
    box-sizing: border-box;
    box-shadow: 2px 2px 4px rgb(153, 153, 153);
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    flex-direction: column;
}
.nietos img{
    width: 50%;
}
.informacion{
    width: 100%;
    padding: 0px 10px;
    box-sizing: border-box;
}
.nietos .nombre{
    text-align: start;
    position: relative;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 0;
    margin-top: 4px;
    font-size: 1.5em;
}
.nietos .tipo{
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    color: rgb(180, 180, 180);
    font-size: .8em;
}
.contenido{
    display: flex;
    width: 100%;
    height: 40px;
    justify-content: space-between;
    align-items: center;
}
.contenido .precio{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: blue;
    font-size: 1.5em;
}
.contenido img{
    width: 30px;
    rotate: 45deg;
    height: 30px;
    background-color: blue;
    border-radius: 10px;
}

@media (max-width:490px){
    .container_1{
        justify-content: none;
    }
}